In [1]:
#Script to reformat methane data files for TWO 2-level Sankeys
#Output: json file

#Created:           18.11.2018

Note: gross sales only exist for gasoline  
Therefore extract only net sales

In [2]:
import numpy as np
import pandas as pd
import collections
import os
#import xlrd

# Read files

In [100]:
fname = '/home/nangini/Documents/PROJECTS/TRANSPORTCAN/DATA/MOTORVEHICLE/2310006601-eng_1993-2017_format.csv'

#df1 = pd.read_csv(fname1, sep="\t", skiprows=[0], header = None)
df = pd.read_csv(fname,index_col=0)

print df.shape
df

(5, 374)

,Canada,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 365,Unnamed: 366,Unnamed: 367,Unnamed: 368,Unnamed: 369,Unnamed: 370,Unnamed: 371,Unnamed: 372,Unnamed: 373,Unnamed: 374
Sales,,,,,,,,,,,,,,,,,,,,,
year,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Net sales of gasoline,33297035,33493306,33872646,34829563,35310985,36219491,36375338,36552556,37949600,38421608,...,17687,22992,12291,19332,34697,13903,20655,20283,25118,15507
Gross sales of gasoline,34571130,34765828,35355189,36144051,37151638,37912424,38176681,38126164,39205669,39797315,...,17687,22991,12291,19332,34697,13903,20655,20283,25118,15507
Net sales of diesel oil,9936354,10533567,11097198,12189205,12117588,12726671,13179694,13336346,13737648,14720634,...,5966,5248,7548,8533,10424,9168,9266,11474,19916,22994
Net sales of liquefied petroleum gas,903152,951383,951481,863818,768506,569844,461641,415355,323935,313019,...,0,0,0,0,0,0,0,0,0,0

In [101]:
df.columns.get_loc("Canada")

0

In [102]:
df.columns.get_loc("Newfoundland and Labrador")

24

# variables

In [103]:
regions = list(df)

In [104]:
new_list = [x for x in list(df) if 'Unnamed' not in x]
regions = [x for x in new_list if 'Sales' not in x]
print len(regions)
regions

15

['Canada',
 'Newfoundland and Labrador',
 'Prince Edward Island',
 'Nova Scotia',
 'New Brunswick',
 'Quebec',
 'Ontario',
 'Manitoba',
 'Saskatchewan',
 'Alberta',
 'British Columbia 2',
 'Yukon',
 'Northwest Territories including Nunavut',
 'Northwest Territories',
 'Nunavut']

In [105]:
#region column numbers
r_num = [df.columns.get_loc(c) for c in df.columns if c in regions]
r_num

[0, 24, 49, 74, 99, 124, 149, 174, 199, 224, 249, 274, 299, 324, 349]

# Extract first region manually for now

In [106]:
df_can = df.iloc[:,0:24]
df_can

,Canada,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
Sales,,,,,,,,,,,,,,,,,,,,,
year,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Net sales of gasoline,33297035,33493306,33872646,34829563,35310985,36219491,36375338,36552556,37949600,38421608,...,39148560,39708461,40101125,40412210,40444101,41449632,41418428,42559552,42780095,43616892
Gross sales of gasoline,34571130,34765828,35355189,36144051,37151638,37912424,38176681,38126164,39205669,39797315,...,40496036,41028454,41452699,42076411,42032522,42902507,42651789,44576655,45085270,44931111
Net sales of diesel oil,9936354,10533567,11097198,12189205,12117588,12726671,13179694,13336346,13737648,14720634,...,16555321,16188394,16778508,17797512,17455650,17893224,18118660,17993880,17017242,18016829
Net sales of liquefied petroleum gas,903152,951383,951481,863818,768506,569844,461641,415355,323935,313019,...,263728,271838,286202,304464,299342,510168,635009,598095,530171,343358

In [107]:
#drop Gross sales
df_can.drop(['Gross sales of gasoline'], inplace=True)
df_can

,Canada,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
Sales,,,,,,,,,,,,,,,,,,,,,
year,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Net sales of gasoline,33297035,33493306,33872646,34829563,35310985,36219491,36375338,36552556,37949600,38421608,...,39148560,39708461,40101125,40412210,40444101,41449632,41418428,42559552,42780095,43616892
Net sales of diesel oil,9936354,10533567,11097198,12189205,12117588,12726671,13179694,13336346,13737648,14720634,...,16555321,16188394,16778508,17797512,17455650,17893224,18118660,17993880,17017242,18016829
Net sales of liquefied petroleum gas,903152,951383,951481,863818,768506,569844,461641,415355,323935,313019,...,263728,271838,286202,304464,299342,510168,635009,598095,530171,343358

In [108]:
df_can = df_can.rename(columns=df_can.iloc[0])
df_can.drop(['year'], inplace=True)

In [117]:
print df_can.shape
df_can

(3, 24)

,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Sales,,,,,,,,,,,,,,,,,,,,,
Net sales of gasoline,33297035,33493306,33872646,34829563,35310985,36219491,36375338,36552556,37949600,38421608,...,39148560,39708461,40101125,40412210,40444101,41449632,41418428,42559552,42780095,43616892
Net sales of diesel oil,9936354,10533567,11097198,12189205,12117588,12726671,13179694,13336346,13737648,14720634,...,16555321,16188394,16778508,17797512,17455650,17893224,18118660,17993880,17017242,18016829
Net sales of liquefied petroleum gas,903152,951383,951481,863818,768506,569844,461641,415355,323935,313019,...,263728,271838,286202,304464,299342,510168,635009,598095,530171,343358

In [147]:
df_can[1994]['Net sales of gasoline']

33297035

In [148]:
df_can[1995]['Net sales of gasoline']

33493306

# Write first region to json manually for now

In [120]:
df_can[1994][0]

33297035

In [138]:
df_can[1994]['Net sales of gasoline']

33297035

In [123]:
list(df_can)[0]

1994

In [143]:
# dir = '/home/nangini/PROJECTS/airports/data/'
# file = open(dir + 'canadaFuelSales.json', 'w')

file = open('TESTFuelSales.json', 'w')

In [144]:
file.write('{\n')
file.write('  "fuelsales": \n')

file.write('  { \n')
file.write( '    "year": %d,\n' %( list(df_can)[0] ) )
file.write( '    "gas": %d,\n' %( df_can[1994]['Net sales of gasoline'] ) )
file.write( '    "diesel": %d,\n' %( df_can[1994]['Net sales of diesel oil'] ) )
file.write( '    "LPG": %d\n' %( df_can[1994]['Net sales of liquefied petroleum gas'] ) )
file.write('  }\n')

file.write('}\n')

file.close()

# Try a loop

In [150]:
years = list(df_can)
print years

[1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

In [176]:
dir = '/home/nangini/PROJECTS/airports/data/'
file = open(dir + 'canadaFuelSales.json', 'w')

file.write('{\n')
file.write('  "fuelsales": [\n')

#year, gas, diesel, LPG
for year in years:
    file.write('    { \n')
    file.write( '      "year": %d,\n' %( year ) )
    file.write( '      "gas": %d,\n' %( df_can[year]['Net sales of gasoline'] ) )
    file.write( '      "diesel": %d,\n' %( df_can[year]['Net sales of diesel oil'] ) )
    file.write( '      "LPG": %d\n' %( df_can[year]['Net sales of liquefied petroleum gas'] ) )
    file.write('    },\n')
    
#remove last comma
file.seek(-2, os.SEEK_END)
file.truncate()
    
file.write('\n  ]\n')
file.write('}')

file.close()

# TEST

In [177]:
dir = '/home/nangini/PROJECTS/airports/data/'
file = open(dir + 'myworldpop.json', 'w')

file.write('{\n')
file.write('  "worldpop": [\n')

#year, gas, diesel, LPG
for year in years:
    file.write('    { \n')
    file.write( '      "year": %d,\n' %( year ) )
    file.write( '      "asia": %d,\n' %( df_can[year]['Net sales of gasoline'] ) )
    file.write( '      "africa": %d,\n' %( df_can[year]['Net sales of diesel oil'] ) )
    file.write( '      "europe": %d\n' %( df_can[year]['Net sales of liquefied petroleum gas'] ) )
    file.write('    },\n')
    
#remove last comma
file.seek(-2, os.SEEK_END)
file.truncate()
    
file.write('\n  ]\n')
file.write('}')

file.close()

# Write json file for each region

In [18]:
def make_stackedarea_json(df, nodes, targets, file):
    """ Format dataframe data into the json format needed for a Sankey diagram. Output to file."""
    
    file.write('{\n')
    file.write('"nodes": [\n')
    for node in nodes:
        file.write('{"name": "%s"},\n' %(node))
    # remove last comma
    file.seek(-2, os.SEEK_END)
    file.truncate()
    file.write('\n],\n')

    file.write('"links": [\n')

    #source-target pairs for sources -> regions
    for source in sources:
        print source
        for t1 in targets:
            #print region
            value = df.loc[df['Source'] == source, t1].values[0]
            #print value
            file.write('{"source": "%s", "target": "%s", "value": "%.2f"},\n' %(source, t1, float(value)))                

    # remove last comma
    file.seek(-2, os.SEEK_END)
    file.truncate()
    file.write('\n]\n')
    file.write('}\n')

    file.close()

In [20]:
#Sankey1

dir = '/home/nangini/PROJECTS/C-CASCADES/data/'
file = open(dir + 'LOAC_budget_TgCyr181113_sankey1.json', 'w')

make_2level_sankey(df1, nodes1, target2_lats, file)

Estuaries
Lakes
Rivers