In [1]:
#Script to reformat methane data files for TWO 2-level Sankeys
#Output: tsv file

#Created:           17.11.2018

In [2]:
import numpy as np
import pandas as pd
import collections
import os
#import xlrd

# Define sources and targets

In [7]:
sources = ["Estuaries", "Lakes", "Rivers"]

target2_lats = ['High lat', 'Mid lat', 'Tropics']
target2_regions = ['N America', 'S America', 'Africa', 'Asia', 'Europe', 'Oceania']

# Read files

In [6]:
fname = '/home/nangini/Documents/PROJECTS/TRANSPORTCAN/DATA/MOTORVEHICLE/2310006601-eng.csv'

#df1 = pd.read_csv(fname1, sep="\t", skiprows=[0], header = None)
df = pd.read_csv(fname)

df

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 76

In [26]:
fname2 = '/home/nangini/Documents/PROJECTS/CCASCADES/DATA/LOAC_budget_TgCyr181113_sankey2.tsv'

df2 = pd.read_csv(fname2, sep="\t")

df2

,Source,N America,S America,Africa,Asia,Europe,Oceania
0,Estuaries,40.262894,12.465882,14.700063,52.301511,23.396577,8.894408
1,Lakes,192.459815,41.728928,37.139858,161.316415,55.004972,2.661126
2,Rivers,46.141748,270.921282,137.567182,166.421382,20.345204,8.489645

# Assign nodes

In [11]:
#Sankey1
nodes1 = sources + target2_lats
print nodes1

['Estuaries', 'Lakes', 'Rivers', 'High lat', 'Mid lat', 'Tropics']

In [12]:
#Sakney2
nodes2 = sources + target2_regions
print nodes2

['Estuaries', 'Lakes', 'Rivers', 'N America', 'S America', 'Africa', 'Asia', 'Europe', 'Oceania']

In [68]:
target1

['Estuaries', 'Lakes', 'Rivers']

# Write json file for 2-level Sankey

In [18]:
def make_2level_sankey(df, nodes, targets, file):
    """ Format dataframe data into the json format needed for a Sankey diagram. Output to file."""
    
    file.write('{\n')
    file.write('"nodes": [\n')
    for node in nodes:
        file.write('{"name": "%s"},\n' %(node))
    # remove last comma
    file.seek(-2, os.SEEK_END)
    file.truncate()
    file.write('\n],\n')

    file.write('"links": [\n')

    #source-target pairs for sources -> regions
    for source in sources:
        print source
        for t1 in targets:
            #print region
            value = df.loc[df['Source'] == source, t1].values[0]
            #print value
            file.write('{"source": "%s", "target": "%s", "value": "%.2f"},\n' %(source, t1, float(value)))                

    # remove last comma
    file.seek(-2, os.SEEK_END)
    file.truncate()
    file.write('\n]\n')
    file.write('}\n')

    file.close()

In [20]:
#Sankey1

dir = '/home/nangini/PROJECTS/C-CASCADES/data/'
file = open(dir + 'LOAC_budget_TgCyr181113_sankey1.json', 'w')

make_2level_sankey(df1, nodes1, target2_lats, file)

# nodes = nodes1
# targets = target2_lats
# df = df1

# file.write('{\n')
# file.write('"nodes": [\n')
# for node in nodes:
#     file.write('{"name": "%s"},\n' %(node))
# # remove last comma
# file.seek(-2, os.SEEK_END)
# file.truncate()
# file.write('\n],\n')

# file.write('"links": [\n')

# #source-target pairs for sources -> regions
# for source in sources:
#     print source
#     for t1 in targets:
#         #print region
#         value = df.loc[df['Source'] == source, t1].values[0]
#         #print value
#         file.write('{"source": "%s", "target": "%s", "value": "%.2f"},\n' %(source, t1, float(value)))                

# # remove last comma
# file.seek(-2, os.SEEK_END)
# file.truncate()
# file.write('\n]\n')
# file.write('}\n')

# file.close()

Estuaries
Lakes
Rivers

In [27]:
#Sankey2

dir = '/home/nangini/PROJECTS/C-CASCADES/data/'
file = open(dir + 'LOAC_budget_TgCyr181113_sankey2.json', 'w')

make_2level_sankey(df2, nodes2, target2_regions, file)

Estuaries
Lakes
Rivers

In [29]:
nodes2

['Estuaries',
 'Lakes',
 'Rivers',
 'N America',
 'S America',
 'Africa',
 'Asia',
 'Europe',
 'Oceania']

In [30]:
target2_regions

['N America', 'S America', 'Africa', 'Asia', 'Europe', 'Oceania']