In [1]:
#Script to reformat methane data files for TWO 2-level Sankeys
#Output: json file

#Created:           18.11.2018

Note: gross sales only exist for gasoline  
Therefore extract only net sales

In [2]:
import numpy as np
import pandas as pd
import collections
import os
#import xlrd

# Read files

In [216]:
fname = '/home/nangini/Documents/PROJECTS/TRANSPORTCAN/DATA/MOTORVEHICLE/2310006601-eng_1993-2017_format.csv'

#df1 = pd.read_csv(fname1, sep="\t", skiprows=[0], header = None)
df = pd.read_csv(fname,index_col=0)

print df.shape
df

(5, 374)

,Canada,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 365,Unnamed: 366,Unnamed: 367,Unnamed: 368,Unnamed: 369,Unnamed: 370,Unnamed: 371,Unnamed: 372,Unnamed: 373,Unnamed: 374
Sales,,,,,,,,,,,,,,,,,,,,,
year,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Net sales of gasoline,33297035,33493306,33872646,34829563,35310985,36219491,36375338,36552556,37949600,38421608,...,17687,22992,12291,19332,34697,13903,20655,20283,25118,15507
Gross sales of gasoline,34571130,34765828,35355189,36144051,37151638,37912424,38176681,38126164,39205669,39797315,...,17687,22991,12291,19332,34697,13903,20655,20283,25118,15507
Net sales of diesel oil,9936354,10533567,11097198,12189205,12117588,12726671,13179694,13336346,13737648,14720634,...,5966,5248,7548,8533,10424,9168,9266,11474,19916,22994
Net sales of liquefied petroleum gas,903152,951383,951481,863818,768506,569844,461641,415355,323935,313019,...,0,0,0,0,0,0,0,0,0,0

In [217]:
df.columns.get_loc("Canada")

0

In [218]:
df.columns.get_loc("Newfoundland and Labrador")

24

# variables

In [219]:
regions = list(df)

In [220]:
new_list = [x for x in list(df) if 'Unnamed' not in x]
regions = [x for x in new_list if 'Sales' not in x]
print len(regions)
regions

15

['Canada',
 'Newfoundland and Labrador',
 'Prince Edward Island',
 'Nova Scotia',
 'New Brunswick',
 'Quebec',
 'Ontario',
 'Manitoba',
 'Saskatchewan',
 'Alberta',
 'British Columbia 2',
 'Yukon',
 'Northwest Territories including Nunavut',
 'Northwest Territories',
 'Nunavut']

In [221]:
#region column numbers
r_num = [df.columns.get_loc(c) for c in df.columns if c in regions]
r_num

[0, 24, 49, 74, 99, 124, 149, 174, 199, 224, 249, 274, 299, 324, 349]

In [222]:
print len(r_num)
print len(regions)

15
15

# Extract first region manually for now

In [263]:
s1=249  #0
s2=274   #24
this_df = df.iloc[:,s1:s2]
this_df

,British Columbia 2,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,...,Unnamed: 265,Unnamed: 266,Unnamed: 267,Unnamed: 268,Unnamed: 269,Unnamed: 270,Unnamed: 271,Unnamed: 272,Unnamed: 273,Unnamed: 274
Sales,,,,,,,,,,,,,,,,,,,,,
year,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Net sales of gasoline,3869461,4082964,4134983,4172348,4251691,4400672,4489276,4406399,4460565,4532446,...,4467255,4536112,4560666,4537496,4348707,4336807,4422297,4656988,4893207,4935834
Gross sales of gasoline,4028083,4254591,4318614,4360595,4444947,4581349,4668249,4614710,4647147,4722426,...,4619653,4646008,4715626,4741085,4682115,4504633,4687564,5481062,5770067,5182517
Net sales of diesel oil,989618,1080544,1126368,1173583,1203370,1173724,1208936,1370074,1329901,1418915,...,1714031,1647876,1838578,2221338,1761637,2145516,1922523,1852896,1837722,1910156
Net sales of liquefied petroleum gas,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,196681,343060,320829,278136,85669

In [264]:
#drop Gross sales
this_df.drop(['Gross sales of gasoline'], inplace=True)
this_df

,British Columbia 2,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,...,Unnamed: 265,Unnamed: 266,Unnamed: 267,Unnamed: 268,Unnamed: 269,Unnamed: 270,Unnamed: 271,Unnamed: 272,Unnamed: 273,Unnamed: 274
Sales,,,,,,,,,,,,,,,,,,,,,
year,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Net sales of gasoline,3869461,4082964,4134983,4172348,4251691,4400672,4489276,4406399,4460565,4532446,...,4467255,4536112,4560666,4537496,4348707,4336807,4422297,4656988,4893207,4935834
Net sales of diesel oil,989618,1080544,1126368,1173583,1203370,1173724,1208936,1370074,1329901,1418915,...,1714031,1647876,1838578,2221338,1761637,2145516,1922523,1852896,1837722,1910156
Net sales of liquefied petroleum gas,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,196681,343060,320829,278136,85669

In [265]:
this_df = this_df.rename(columns=this_df.iloc[0])
this_df.drop(['year'], inplace=True)

In [266]:
print this_df.shape
this_df

(3, 25)

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Sales,,,,,,,,,,,,,,,,,,,,,
Net sales of gasoline,3869461,4082964,4134983,4172348,4251691,4400672,4489276,4406399,4460565,4532446,...,4467255,4536112,4560666,4537496,4348707,4336807,4422297,4656988,4893207,4935834
Net sales of diesel oil,989618,1080544,1126368,1173583,1203370,1173724,1208936,1370074,1329901,1418915,...,1714031,1647876,1838578,2221338,1761637,2145516,1922523,1852896,1837722,1910156
Net sales of liquefied petroleum gas,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,196681,343060,320829,278136,85669

In [267]:
this_df.columns = this_df.columns.map(int)

In [268]:
this_df.columns

Int64Index([1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
            2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
            2015, 2016, 2017],
           dtype='int64')

In [270]:
this_df[1994]['Net sales of gasoline']

'4082964'

In [271]:
this_df[1994]['Net sales of gasoline']

'4082964'

In [273]:
int(this_df[1995]['Net sales of gasoline'])

4134983

# Try a loop over all years, first region

In [138]:
df_can[1994]['Net sales of gasoline']

33297035

In [150]:
years = list(df_can)
print years

[1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

In [176]:
dir = '/home/nangini/PROJECTS/airports/data/'
file = open(dir + 'canadaFuelSales.json', 'w')

file.write('{\n')
file.write('  "fuelsales": [\n')

#year, gas, diesel, LPG
for year in years:
    file.write('    { \n')
    file.write( '      "year": %d,\n' %( year ) )
    file.write( '      "gas": %d,\n' %( df_can[year]['Net sales of gasoline'] ) )
    file.write( '      "diesel": %d,\n' %( df_can[year]['Net sales of diesel oil'] ) )
    file.write( '      "LPG": %d\n' %( df_can[year]['Net sales of liquefied petroleum gas'] ) )
    file.write('    },\n')
    
#remove last comma
file.seek(-2, os.SEEK_END)
file.truncate()
    
file.write('\n  ]\n')
file.write('}')

file.close()

# TEST

In [187]:
dir = '/home/nangini/PROJECTS/airports/data/'
file = open(dir + 'canadaFuelSales.json', 'w')

file.write('{\n')
file.write('  "fuelsales": [\n')

#year, gas, diesel, LPG
for year in years:
    file.write('    { \n')
    file.write( '      "year": %d,\n' %( year ) )
    file.write( '      "gas": %d,\n' %( df_can[year]['Net sales of gasoline'] ) )
    file.write( '      "diesel": %d,\n' %( df_can[year]['Net sales of diesel oil'] ) )
    file.write( '      "LPG": %d\n' %( df_can[year]['Net sales of liquefied petroleum gas'] ) )
    file.write('    },\n')
    
#remove last comma
file.seek(-2, os.SEEK_END)
file.truncate()
    
file.write('\n  ]\n')
file.write('}')

file.close()

# Write json file for each region

In [278]:
regions

['Canada',
 'Newfoundland and Labrador',
 'Prince Edward Island',
 'Nova Scotia',
 'New Brunswick',
 'Quebec',
 'Ontario',
 'Manitoba',
 'Saskatchewan',
 'Alberta',
 'British Columbia 2',
 'Yukon',
 'Northwest Territories including Nunavut',
 'Northwest Territories',
 'Nunavut']

In [279]:
'Northwest Territories including Nunavut'.replace(" ", "")

'NorthwestTerritoriesincludingNunavut'

In [223]:
#region column numbers
colnums = [df.columns.get_loc(c) for c in df.columns if c in regions]
colnums

[0, 24, 49, 74, 99, 124, 149, 174, 199, 224, 249, 274, 299, 324, 349]

In [277]:
dir = '/home/nangini/PROJECTS/airports/data/'

#loop through regions via column numbers
for idx in range(0, len(colnums)-1):
    
    print regions[idx].replace(" ", "")
    #Define file name based on region name
    file = open(dir + regions[idx].replace(" ", "") + 'FuelSales.json', 'w')
        
    #Extract subset from df corresponding to regions (use column numbers)
    s1 = colnums[idx]
    s2 = colnums[idx+1]
    print s1, s2
    this_df = df.iloc[:,s1:s2]
    
    #FORMAT
    #drop Gross sales
    this_df.drop(['Gross sales of gasoline'], inplace=True)
    #replace column names with first row names
    this_df = this_df.rename(columns=this_df.iloc[0])
    #make sure the column names are integers
    this_df.columns = this_df.columns.map(int)
    #remove first row
    this_df.drop(['year'], inplace=True)
    
    #Define array of years specific to this_df
    years = list(this_df)
    print years
    print ""
    
    file.write('{\n')
    file.write('  "fuelsales": [\n')

    #Loop over each year and extract gas, diesel, LPG
    for year in years:
        file.write('    { \n')
        year = int(year)
        val_gas = int(this_df[year]['Net sales of gasoline'])
        val_diesel =  int(this_df[year]['Net sales of diesel oil'])
        val_LPG = int(this_df[year]['Net sales of liquefied petroleum gas'])
        print year
        
        file.write( '      "year": %d,\n' %( year ) )
        file.write( '      "gas": %d,\n' %( val_gas ) )
        file.write( '      "diesel": %d,\n' %(val_diesel ) )
        file.write( '      "LPG": %d\n' %( val_LPG ) )
        file.write('    },\n')

    #remove last comma
    file.seek(-2, os.SEEK_END)
    file.truncate()

    file.write('\n  ]\n')
    file.write('}')

    file.close()

Canada
0 24
[1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
NewfoundlandandLabrador
24 49
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
PrinceEdwardIsland
49 74
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
NovaScotia
74 99
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
NewBrunswick
99 124
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
Quebec
124 149
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
Ontario
149 174
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
Manitoba
174 199
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
Saskatchewan
199 224
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
Alberta
224 249
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
BritishColumbia2
249 274
[1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

ValueError: invalid literal for int() with base 10: '..'

In [18]:
def make_stackedarea_json(df, regions):
    """ Format dataframe data into the json format needed for a Sankey diagram. Output to file."""
    
        years = list(df)

        dir = '/home/nangini/PROJECTS/airports/data/'
        file = open(dir + 'canadaFuelSales.json', 'w')

        file.write('{\n')
        file.write('  "fuelsales": [\n')

        #year, gas, diesel, LPG
        for year in years:
            file.write('    { \n')
            file.write( '      "year": %d,\n' %( year ) )
            file.write( '      "gas": %d,\n' %( df_can[year]['Net sales of gasoline'] ) )
            file.write( '      "diesel": %d,\n' %( df_can[year]['Net sales of diesel oil'] ) )
            file.write( '      "LPG": %d\n' %( df_can[year]['Net sales of liquefied petroleum gas'] ) )
            file.write('    },\n')

        #remove last comma
        file.seek(-2, os.SEEK_END)
        file.truncate()

        file.write('\n  ]\n')
        file.write('}')

        file.close()

In [20]:
#Sankey1

dir = '/home/nangini/PROJECTS/C-CASCADES/data/'
file = open(dir + 'LOAC_budget_TgCyr181113_sankey1.json', 'w')

make_2level_sankey(df1, nodes1, target2_lats, file)

Estuaries
Lakes
Rivers